/* importing fonts */
@import url('https://fonts.googleapis.com/css?family=Lato');

/* Setting the Background and Misc*/
body{
  background-color: black;
}

* { 
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;}

a { 
  text-decoration: none;
} 
  
/* Nav bar style */
.menu {   /* Defining Bottom Nav Bar */
  text-transform: uppercase; 
  color: white;  
  position: absolute;
  bottom: 8%;  
  left: 12%;  
  z-index: 100;} 

.menu:hover {
  opacity: 1; /* When u hover over Quick menu it will make the opacity full */
}

.label {  /* aka Quick menu*/
  display: inline-block; 
  cursor: pointer;  
}

.planet-names {
  position: relative;   
  display: inline-block;  
  margin-right: 30px; 
  top: 10px; 
  opacity: 0.4;  
  padding-top: 10px; 
  padding-bottom: 20px; 
}

.pluto {  /* Becuase Pluto Is always there in our hearts */  
  position: relative;   
  display: inline-block; 
  margin-right: 30px;  
  top: 10px; 
  opacity: 0.4;  
  padding-top: 10px; 
  padding-bottom: 20px; 
}

.menu:hover .planet-names:nth-child(11) {opacity: 0.4;}

/* Navbar Animation */
span {transition: color 0.1s ease;}  /* Transtion From White to Red */

.planet-names:hover span {color: #ff0000;}  /* When hover turns one planet-names Red*/
.menu:hover .planet-names { opacity: 1; }  /*Opacity Full when Hovering over planet-names */


/* Background */
.stars, .twinkling{   /* Credit : https://www.script-tutorials.com/night-sky-with-twinkling-stars/ */
  position: fixed; 
  width:100%;        
  height:100000ch;       
  z-index: -1;}  

.stars {background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;}
.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  animation:move-twink-back 200s linear infinite; }

/* Box Around Text */
body {
  margin: 0;
  padding: 100px;
  font-family: "lato", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

    }
.box{
  top:0px;
  left:-500px;
  position: relative;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.box:after
{

  content: "";
  position: absolute;
  top: -2px;
  left:-2px;
  right:-2px;
  bottom:-2px;
  filter: blur(40px);
}
.box:before, .box:after
{
  background: linear-gradient(235deg,	#2F4F4F,transparent,#778899);
  z-index: 1;
}

.content
{
 width: 40vh;
 height: 50vh;
 z-index: 2;
 color: white;}

/* Creating Side Nav Bar   */
 .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17,0.9);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 100000;
  -webkit-overflow-scrolling:touch;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/* Creating hamburger Icon   */
.linemenu {
  position: relative;
  top: 2%;
  left: 2%;
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  cursor: pointer;
  margin-left: 50px;
}
.Button {
  position: absolute;
  display: block;
  top: 4.2%;
  left: 0%;
  cursor: pointer;
}

/* Earth.html Planet   */
.earth {
  width: 450px;
  height: 450px; 
  position: fixed;
  top: 0; 
  bottom: 0;
  left: 50%; 
  right: 0;
  margin: auto;  
  overflow: hidden;  
  border-radius: 50%; /* Created the Circle */
} 

.earth:after { /* after the earths animation */
  position: absolute;
  content: ""; 
  top: 0;     
  bottom: 0;  
  left: 0;    
  right: 0;   
  box-shadow: -20px -20px 50px 2px #000 inset;  /* Shadow Around Planet Credit: https://www.w3schools.com/cssref/css3_pr_box-shadow.asp */
  border-radius: 50%; 
}

.earth > div {
  width: 200%;  
  height: 100%; 
  animation: spin 30s linear alternate infinite; /* Simple Spin Animation of the planet */
  background: url(http://drh2.img.digitalriver.com/DRHM/Storefront/Company/digiwis/images/product/detail/world32k.jpg); /* Map of the Earth */
  background-size: cover; } 
/* Mars.html Planet */
.mars {
  width: 450px;
  height: 450px; 
  position: fixed; 
  top: 0; 
  bottom: 0;
  left: 50%; 
  right: 0;
  margin: auto;  
  overflow: hidden; 
  border-radius: 50%;
}

.mars:after { /* after the earths animation */
  position: absolute;
  content: ""; /* By having content "" Which whould be the picture it allows me to actual Shadow the planet */
  top: 0;     
  bottom: 0;  
  left: 0;    
  right: 0;   
  box-shadow: -20px -20px 50px 2px #000 inset;  /* Shadow Around Planet Credit: https://www.w3schools.com/cssref/css3_pr_box-shadow.asp */
  border-radius: 50%; 
}

.mars > div {
  width: 200%;  
  height: 100%;  
  animation: spin 30s linear alternate infinite; /* Simple Spin Animation of the planet Spins for 30s forever */
  background: url(https://astrogeology.usgs.gov/cache/images/c083f139458b86d88d2c6a2184261be3_Mars_Viking_ClrMosaic_global_1024.jpg);
  background-size: cover; } 
/* Saturn.html Planet */
.saturn {
  width: 450px;
  height: 450px; 
  position: fixed; 
  top: 0; 
  bottom: 0;
  left: 50%; 
  right: 0;
  margin: auto;  
  overflow: hidden; 
  border-radius: 50%; 
 
} 

.saturn:after { 
  position: absolute;
  content: ""; 
  top: 0;     
  bottom: 0;  
  left: 0;    
  right: 0;   
  box-shadow: -20px -20px 50px 2px #000 inset;  /* Shadow Around Planet Credit: https://www.w3schools.com/cssref/css3_pr_box-shadow.asp */
  border-radius: 50%; 
 
}

.saturn > div {
  width: 200%;  
  height: 100%;  

  animation: spin 30s linear alternate infinite; 
  background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/5938ae9e-47de-424a-8836-f98e6658d37b/dc7weok-ac20c1ef-c812-4b67-9564-a63ce0e453c5.png/v1/fill/w_1264,h_632,q_70,strp/saturn_2011_texture_map_by_askaniy_dc7weok-pre.jpg);
  background-size: cover;
  }

.mercury {
  width: 450px;
  height: 450px; 
  position: fixed; 
  top: 0; 
  bottom: 0;
  left: 50%; 
  right: 0;
  margin: auto; 
  overflow: hidden; 
  border-radius: 50%;
} 

.mercury:after { 
  position: absolute;
  content: ""; 
  top: 0;     
  bottom: 0;  
  left: 0;    
  right: 0;   
  box-shadow: -20px -20px 50px 2px #000 inset;  /* Shadow Around Planet Credit: https://www.w3schools.com/cssref/css3_pr_box-shadow.asp */
  border-radius: 50%; 
}

.mercury > div {
  width: 200%;   
  height: 100%;  
  animation: spin 30s linear alternate infinite;
  background: url(https://astrogeology.usgs.gov/cache/images/e24fd57a476db72202527a9e8a280dda_Mercury_MESSENGER_MDIS_Basemap_LOI_Mosaic_Global_1024.jpg);
  background-size: cover;} 
/* Jupiter.html Planet */
.jupiter {
  width: 450px;
  height: 450px; 
  position: fixed;
  top: 0; 
  bottom: 0;
  left: 50%; 
  right: 0;
  margin: auto;  
  overflow: hidden;  
  border-radius: 50%; 
} 

.jupiter:after { 
  position: absolute;
  content: "";
  top: 0;     
  bottom: 0;  
  left: 0;    
  right: 0;   
  box-shadow: -20px -20px 50px 2px #000 inset;  /* Shadow Around Planet Credit: https://www.w3schools.com/cssref/css3_pr_box-shadow.asp */
  border-radius: 50%; 
}

.jupiter > div {
  width: 200%;   
  height: 100%;  
  animation: spin 30s linear alternate infinite; 
  background: url(https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19643_hires.jpg);
  background-size: cover;}
/* Venus.html Planet */
.venus {
  width: 450px;
  height: 450px; 
  position: fixed; 
  top: 0; 
  bottom: 0;
  left: 50%; 
  right: 0;
  margin: auto; 
  overflow: hidden; 
  border-radius: 50%; 
} 

.venus:after { 
  position: absolute;
  content: ""; 
  top: 0;     
  bottom: 0;  
  left: 0;    
  right: 0;   
  box-shadow: -20px -20px 50px 2px #000 inset;  /* Shadow Around Planet Credit: https://www.w3schools.com/cssref/css3_pr_box-shadow.asp */
  border-radius: 50%; 
}

.venus > div {
  width: 200%;   
  height: 100%;  
  animation: spin 30s linear alternate infinite; 
  background: url(http://www.astrosurf.com/toussaint/dossiers/ssolaire/03venus/03venussph/03venusatsph04.jpg);
  background-size: cover; }
/* Uranus.html Planet */
.uranus {
  width: 450px;
  height: 450px; 
  position: fixed; 
  top: 0; 
  bottom: 0;
  left: 50%; 
  right: 0;
  margin: auto;  
  overflow: hidden;  
  border-radius: 50%; 
} 

.uranus:after { 
  position: absolute;
  content: ""; 
  top: 0;     
  bottom: 0;  
  left: 0;    
  right: 0;   
  box-shadow: -20px -20px 50px 2px #000 inset;  /* Shadow Around Planet Credit: https://www.w3schools.com/cssref/css3_pr_box-shadow.asp */
  border-radius: 50%; 
}
/* */
.uranus > div {
  width: 200%;  
  height: 100%; 
  animation: spin 30s linear alternate infinite;
  background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/90ad8232-4e09-4675-b9e7-bc2898960870/dc0ss0c-aa6fd748-5785-41ec-9b6e-00356bf444c7.png/v1/fill/w_1024,h_512,q_80,strp/uranus_texture_map_by_jcpag2010_dc0ss0c-fullview.jpg);
  background-size: cover; }
/* Neptune.html Planet */
.neptune {
  width: 450px;
  height: 450px; 
  position: fixed; 
  top: 0; 
  bottom: 0;
  left: 50%; 
  right: 0;
  margin: auto;  
  overflow: hidden; 
  border-radius: 50%; 
} 

.neptune:after { 
  position: absolute;
  content: ""; 
  top: 0;     
  bottom: 0;  
  left: 0;    
  right: 0;   
  box-shadow: -20px -20px 50px 2px #000 inset;  /* Shadow Around Planet Credit: https://www.w3schools.com/cssref/css3_pr_box-shadow.asp */
  border-radius: 50%;
}

.neptune > div {
  width: 200%;   
  height: 100%;  
  animation: spin 30s linear alternate infinite; 
  background: url(https://bjj.mmedia.is/data/neptune/neptune.jpg);
  background-size: cover; } 

  /* Created Saturn's Ring */
.ovalfirstlayer {
  width: 550px;
  height: 550px; 
  position: fixed; 
  top: 0; 
  bottom: 0;
  left: 50%; 
  right: 0;
  margin: auto;  
  
  border-radius: 50%; 
  border: 2.6em solid rgb(160,82,45,0.2);
  transform-style: preserve-3d;
  transform: rotateX(82deg);
}

.ovalsecondlayer {
  width: 635px;
  height: 635px; 
  position: fixed;
  top: 0; 
  bottom: 0;
  left: 50%; 
  right: 0;
  margin: auto;  
   z-index: 13; 
  border-radius: 50%; 
  border: 2.6em solid rgb(160,82,45,0.2);
  transform-style: preserve-3d;
  transform: rotateX(82deg);
}

.ovalthirdlayer {
  width: 785px;
  height: 785px; 
  position: fixed; 
  top: 0; 
  bottom: 0;
  left: 50%; 
  right: 0;
  margin: auto; 
   z-index: 13; 
  border-radius: 50%;
  border: 2.6em solid rgb(139,69,19,0.1);
  transform-style: preserve-3d;
  transform: rotateX(82deg);
}

/* Spin Animation */
@keyframes spin {
 to { transform: translateX(-40%);} } /* Defineing the spin to a forty precent transformation of the picture. It is negative becuase i want it to left to right in the begining */

/* Background Animation */
@keyframes move-twink-back {                   /* Credit : https://www.script-tutorials.com/night-sky-with-twinkling-stars/ */
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;} }
  

/* Responsive Dimensions */
@media (max-width: 500px) {      /* 500px and under will remove the border around the text and give 10% space from the top and 4% from the left */
    .box {
      left: -200px; } }

@media (max-width: 1700px) {      /* 500px and under will remove the border around the text and give 10% space from the top and 4% from the left */
    .ovalthirdlayer, .ovalsecondlayer, .ovalfirstlayer {
      visibility: hidden; } }

@media (max-width: 1490px) {    /* 750px -700px  give 10% space from the left */
    .box {
      left: -200px;
    } }

@media (max-width: 860px) {   /* 700px -500px  give 5% space from the left */
    .box {
      left: 0px;
    } }
@media (max-width: 700px) {  /* 700px and under will result in the  */
    .menu {
      font-size: 50%;
      bottom:3%;
    } }

@media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }
    
@media screen and (max-width: 1364px) {
      .menu {display: none;}
      .sidenav, .button {display:block;}
    }
@media screen and (min-width: 1364px) {
      .menu {display: block;}
      .sidenav, .button, .linemenu {display:none;}
    }
    
@media screen and (max-width: 1000px) {
      .linemenu, .button{
        margin-left: 20px;
    } 
  }
